.about_us_page { 
  width: 98vw;
    margin: 10px auto;
    padding: 2rem;
    padding-bottom: 0;
    background-color: white;
    border-radius: 20px;
  }
  
  .title_box {
    margin-bottom: 2rem;
  }
  
  .title_box h1 {
    font-size: 6rem;
    line-height: 1.2;
    margin: 0;
  }

  .title_text_1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
  }
  
  .title_text_2 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
  }
  .subtitle_box {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  
  .video_box {
    margin-bottom: 3rem;
  }
  
  .video_box img {
    width: 100%;
    height: 390px;
    object-fit: cover;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .content > p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .left_img_box, .right_img_box {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .right_img_box {
  }
  
  .left_img_box img, .right_img_box img {
    width: 50%;
    height: auto;
  }
  
  .text_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .big_img_box img {
    width: 100%;
    height: 590px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .left_img_box, .right_img_box {
      flex-direction: column;
    }
  
    .left_img_box img, .right_img_box img {
      width: 100%;
    }
  }