.home{
  width: 97vw;
  margin: 1vw auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
}
.hero_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  padding-bottom: 10vh;
}
.hero_txt{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_txt h1{
  font-size: 10svw;
  font-weight: 100;
}

.hero_txt span{
  font-size: 3.9svw;
}

.hero_box img{
  width: 39vw;
}
.horizontal_scrolls{
  display: flex;
  overflow-x: hidden;
}

.content{
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_box{
  display: flex;
  width: 60%;
  gap: 50px;
  align-items: center;
}
.content img{
  width: 30vw;
  height: auto;
}

.profile_text_box, .overview-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about_me_content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px rgb(200, 200, 200) solid;
  font-size: 12px;
}
.about_infos{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

.subtext{
  width: 55vw;
  margin: 0 auto;
  display: inline-block;
  font-size: 2.25vw !important;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile_title_box{
  display: flex;
  gap: 5vh 2vw;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile_title_box img{
  width: 3.9vw !important;
}
.profile_headers_box{
  display: flex;
  gap: 2vw;
  padding-bottom: 10px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}
.profile_headers{
  padding: 5px 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
}
.profile_subtitle_box span{
  font-style: italic;
  color: rgb(200, 200, 200);
}
.stats_box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0;
  padding-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}
.stats span{
  display: inline-block;
  width: 15%;
}
.stats{
  display: flex;
  width: 100%;
  gap: 5%;
}
.stats_indicator{
  width: 65%;
  background-color: grey;
  position: relative;
  border-radius: 5px;
}

.stats .active{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: green;
  border-radius: 5px;
}

.traits_box{
  display: flex;
  flex-wrap: wrap;
  gap: 1vh 2%;
  padding: 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px rgb(200, 200, 200) solid;
}

.trait{
  display: inline-block;
  text-align: center;
  background-color: rgb(156, 209, 255);
  padding: 10px;
  border-radius: 5px;
}
.see_details{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.profile_headers.active{
  background-color: black;  
  color: white;
}


.portfolio_box {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  justify-content: center;

}



.portfolio_card{
  display: flex;
  width: 22vw;
  flex-direction: column;
  gap: 30px;
  padding: 20px 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
  border-radius: 10px;
}

.portfolio_card img{
  width: 100%;
  object-fit: contain;
}

.portfolio_action_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio_action_box button{
 background-color: black;
 color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

.see_details{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.see_more_btn{
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
}

.break_line{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  margin-right: 0vw;
}

@media screen and (max-width: 992px) {
  .portfolio_box {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .portfolio_box {
      grid-template-columns: 1fr;
  }
}

.projects_sections{
  display: inline;
}

.projects_sections h3{
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding-bottom: 3vh;
}

